:root{
	--mainColor:#15202B;
	--secondaryColor:#192734;

	--borderColor:#164D56;

	--mainText:#fff;
	--secondaryText:#e6e6e6bd;

	--themeBorder:#FFF;

	--legendColor:rgb(25, 39, 52, 0.8);
	--buttonColor:#17a2b8;


}